/* font family */

@font-face {
  font-family: "Prata";
  src: url("fonts/Prata-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Abril Fatface";
  src: url("fonts/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: "Yeseva One";
  src: url("fonts/YesevaOne-Regular.ttf");
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Prata";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Montserrat";
}
.custom-shape-divider-bottom-1664918166 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664918166 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 101px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1664918166 .shape-fill {
  fill: #ffffff;
}

@media only screen and (max-width: 568px) {
  .highlighted-btn {
    z-index: -900;
  }
}

.red-border {
  border: 1px solid var(--error-message) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}
